[submodule "sensoriboard_ros"]
	path = sensoriboard_ros
	url = https://github.com/aibraininc/sensoriboard_ros.git
[submodule "gretchen-head-controller"]
	path = gretchen-head-controller
	url = https://github.com/aibraininc/gretchen-head-controller.git
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
