<launch>

<include file="$(find gretchen_head_controller)/launch/controller.launch" >
</include>

<!-- roslaunch realsense2_camera rs_camera.launch -->
<include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="align_depth" value="true"/>
    <arg name="enable_pointcloud" value="true"/>
</include>

<include file="$(find head_action)/launch/head_action.launch" >
</include>

<node name="look_at_point" pkg="look_at_point" type="look_at_point" output="screen">
    <param name="cameraFrame"          value= "/camera_color_optical_frame"/>
    <param name="imageTopic"           value= "/camera/color/image_raw"/>
    <param name="cameraInfoTopic"           value= "/camera/color/camera_info"/>
</node>



</launch>
